@charset "UTF-8";
/* @file Texts */
.text-line:before { content: '– '; display: inline; }

.quot-text { text-align: center; }
.quot-text::before { content: ''; display: block; width: 2rem; height: 1.75rem; margin: 0 auto 2.5rem; background: url(/teams/Innovation-leadership/SiteAssets/images/icons/quot.svg) no-repeat center; background-size: 100% 100%; }
@media only screen and (max-width: 767px) { .quot-text::before { width: 30px; height: 26px; margin-bottom: 2.5rem; } }
.quot-text h2 { line-height: 1.375; margin-bottom: 1.25rem; }
.quot-text .name { float: right; padding-right: 7.5rem; margin-bottom: 1.25rem; }
.quot-text .name:before { content: '\2014 '; display: inline-block; margin-right: 5px; }
.quot-text .name + * { clear: both; }

.correct-text { display: inline-block; padding-left: 1.25rem; font-weight: normal; position: relative; }
.correct-text:before { content: ''; display: inline-block; width: .875rem; height: .875rem; background: url(/teams/Innovation-leadership/SiteAssets/images/icons/correct.svg) no-repeat center; background-size: 100% 100%; position: absolute; left: 0; top: 2px; }

.bubble-text { display: -webkit-inline-flex; display: -moz-inline-flex; display: -ms-inline-flex; display: inline-flex; -webkit-align-items: flex-start; -moz-align-items: flex-start; -ms-align-items: flex-start; align-items: flex-start; }
.bubble-text .bubble-prev, .bubble-text .bubble-next { width: 12px; height: 12px; margin-top: .35em; margin-left: 20px; margin-right: 3.175rem; opacity: .57; position: relative; }
.bubble-text .bubble-prev, .bubble-text .bubble-prev:before, .bubble-text .bubble-prev:after, .bubble-text .bubble-next, .bubble-text .bubble-next:before, .bubble-text .bubble-next:after { display: inline-block; border-radius: 50%; background-color: #BDCAE2; }
.bubble-text .bubble-prev:before, .bubble-text .bubble-next:before { content: ''; width: 14px; height: 14px; position: absolute; top: -1px; left: -20px; }
.bubble-text .bubble-prev:after, .bubble-text .bubble-next:after { content: ''; width: 10px; height: 10px; opacity: .3; position: absolute; top: 1px; right: -18px; }
.bubble-text .bubble-next { margin-left: 3.175rem; margin-right: 20px; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.description-title { max-width: 630px; margin: 0 auto 3.75rem; }
.description-title h3 img { width: 5.3em; vertical-align: text-top; }
.description-title h3 + p { margin-top: .875rem; }
@media only screen and (max-width: 767px) { .description-title { margin-bottom: 2.5rem; } }

.icon-link { display: inline-block; padding-left: 1.5rem; position: relative; }
.icon-link:before { content: ''; display: block; width: 19px; height: 17px; background: url(/teams/Innovation-leadership/SiteAssets/images/icons/link.svg) no-repeat center; background-position: 100% 100%; position: absolute; left: 0; top: .15em; }

body { background-color: #fff; }

.page-outline { font-size: 1.125rem; }
@media only screen and (max-width: 767px) { .page-outline { font-size: 1rem; } }
.page-outline h1 { margin-bottom: 1.875rem; }

@media only screen and (min-width: 992px) { .normal-block { padding-top: 8.25rem; } }

.contact-form { margin-top: 5.625rem; }
.contact-form .valid-success, .contact-form .valid-error { padding: .5em 1em; margin-bottom: 2rem; font-size: 1.25rem; font-weight: normal; }
@media only screen and (max-width: 767px) { .contact-form .valid-success, .contact-form .valid-error { font-size: 1rem; } }
.contact-form .valid-success { color: #34c643; background-color: rgba(52, 198, 67, 0.1); border-left: 3px solid #34c643; }
.contact-form .valid-error { color: #e51400; background-color: rgba(229, 20, 0, 0.1); border-left: 3px solid #e51400; }

.form-info { font-size: 1.25rem; }
@media only screen and (min-width: 992px) { .form-info { display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; -moz-justify-content: space-between; justify-content: space-between; }
  .form-info .left-side { width: calc(56% - 1.875rem); }
  .form-info .right-side { width: 54%; margin-left: 1.875rem; } }
@media only screen and (max-width: 991px) { .form-info { font-size: 1rem; }
  .form-info .right-side { margin-top: 1.875rem; } }
@media only screen and (max-width: 767px) { .form-info { font-size: .875rem; }
  .form-info .right-side { margin-top: 1rem; } }
.form-info input:-webkit-input-placeholder, .form-info textarea:-webkit-input-placeholder { color: #B6B2AE; }
.form-info input:-moz-input-placeholder, .form-info textarea:-moz-input-placeholder { color: #B6B2AE; }
.form-info input:-ms-input-placeholder, .form-info textarea:-ms-input-placeholder { color: #B6B2AE; }
.form-info input::placeholder, .form-info textarea::placeholder { color: #B6B2AE; }
.form-info input { width: 100%; padding: 0 1.25rem; }
.form-info textarea { width: 100%; height: 100%; min-height: 200px; padding: .75rem 1.25rem; font-size: 20px; }
@media only screen and (max-width: 991px) { .form-info textarea { font-size: 16px; } }
@media only screen and (max-width: 767px) { .form-info textarea { font-size: 14px; } }

.form-item + .form-item { margin-top: 1.875rem; }
.form-item.input-group { display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -moz-flex; display: -ms-flexbox; display: flex; }
.form-item.input-group input { -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1; }
.form-item.input-group input + input { margin-left: 1.875rem; }

.form-actions { margin-top: 2.625rem; text-align: right; }
@media only screen and (max-width: 767px) { .form-actions { text-align: center; margin-top: 2rem; } }
.form-actions .btn { min-width: 9.25rem; }
@media only screen and (max-width: 767px) { .form-actions .btn { min-width: 7.5rem; } }
.form-actions .btn + .btn { margin-left: 1rem; }

/*# sourceMappingURL=contact.css.map */
