@import './fonts';
@import './cover';

// Reset --------------

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  line-height: 1.625;
  font-family: $font-circ;
  font-weight: 300;
  font-size: .875rem;
  color: $color-black;
  @media #{$tablet} {
    font-size: 1rem;
  }

  h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }
}

// tags
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
}
h1 {
  font-weight: 900;
  font-size: 2.5rem;
  &,
  .main & {
    line-height: 1.25;
  }
  @media #{$tablet} {
    font-size: 3.75rem;
  }
  @media #{$desktop-lg} {
    font-size: 4.167vw;
  }
}
h2 {
  font-weight: 500;
  font-size: 1.625rem;
  &,
  .main & {
    line-height: 1.275;
  }
  @media #{$tablet} {
    font-size: 2rem;
  }
  @media #{$desktop-lg} {
    font-size: 2.0833vw;
  }
}
h3 {
  line-height: 1.267;
  font-weight: 500;
  font-size: 1.5rem;
  @media #{$tablet} {
    font-size: 1.625rem;
  }
  @media #{$desktop-lg} {
    font-size: 1.5625vw;
  }
}
h4 {
  line-height: 1.6;
  font-weight: normal;
  font-size: 1.125rem;
  @media #{$tablet} {
    font-size: 1.25rem;
  }
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  @include transition(color .2s ease);
  &,
  &:hover,
  &:active {
    text-decoration: none;
  }
  &,
  &:visited {
    color: inherit;
  }
  &:hover {
    color: $color-primary;
  }
}

p {
  margin: 0;
  & + p {
    margin-top: 1rem;
  }
}

// From Element
input,
textarea,
button {
  outline: none;
  font-size: inherit;
}
input[type=text],
input[type=search],
textarea {
  color: inherit;
  font-size: inherit;
  font-weight: normal;
  border: none;
  background-color: $color-silver;
}
input {
  &[type=search] {
    &::-webkit-search-cancel-button {
      @include appearance(none);
    }
  }
  &[type=text] {
    height: 3.375rem;
    line-height: 3.375rem;
  }
}
textarea {
  resize: none;
  line-height: 1.5;
}

img,
video {
  max-width: 100%;
}

// Layout ----------------------
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;

  @media #{$desktop} {
    width: 90%;
  }
  @media #{$desktop-lg} {
    width: calc(65.625% + 40px);
  }
}
.normal-block {
  padding: 5rem 0;
  @media #{$mobile-xs} {
    padding: 4rem 0;
  }
  @media #{$desktop-lg} {
    padding: 6.25vw 0;
  }
}
// Background block
.white-bg {
  background-color: #fff;
}
.silver-bg {
  background-color: $color-silver;
}
// Text color
.color-red {
  &,
  .main & {
    color: $color-primary;
  }
}
.color-blue {
  &,
  .main & {
    color: $color-blue;
  }
}
// Text align
.align-center {
  text-align: center;
}

// List
ul.normal-lst {
  li {
    padding: 0;
  }
  li + li {
    margin-top: 1rem;
  }
}


@import './header';
@import './footer';
@import './button';
